@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400&display=swap');  

body {
    background-color: rgb(58, 126, 153);
    font-family: 'Barlow Condensed', sans-serif;
}

#directions {
    text-align: center;
}

#quiz-questions {
    text-align: center;
}

#timer {
    text-align: center;
    border-color: blue;
}

.button-row {
    text-align: center;
}

#answers-list {
    text-align: center;
}
ul.answer-button {
    min-height: 20px;
    min-width: 40px;
}
li.btn-light {
    background-color: rgb(164, 164, 197);
}

.hide {
    display: none;
}

div.score-area {
    text-align: center;
}