@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400&display=swap');  

body {
    background-color: #78818b;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
}

#directions {
    text-align: center;
    color: white;
}

#quiz-questions  {
    text-align: center;
    color: white;
}
#answers-list {
    padding: 5px;
    text-align: left;
}

#timer {
    text-align: center;
    border-color: blue;
}

.yay-nay {
    text-align: center;
}

ul.answer-button {
    min-height: 20px;
    min-width: 40px;
}
li.btn-light {
    background-color: rgb(164, 164, 197);
}

.hide {
    display: none;
}

div.score-area {
    text-align: center;
}

#score {
    padding: 10px;
}

#initials-input {
    min-height: 20px;
    min-width: 40px;
}